.head{
    background-color: #454545;
    height: 6.5rem;
    color: white;
    font-family: "Montserrat";
    font-size: 36px;
    text-align: center;
    line-height: 6rem;
}

.head span{
    text-align: center;
    padding-top:2.5%
}

.head img{
    position: absolute;
    left: 5%;
    top: 4%;
    pointer-events: all
}