.search {
    height:12%;
    width:100%;
    position:relative;
}

.search-image {
    height:40%;
    position:absolute;
    left:37%;
    top:60%;
    z-index: 100;
}

.search-text {
    width:30%;
    height: 60%;
    padding-left: 5%;
    font-size:18px;
    background: linear-gradient(90deg, #EAEAEA 6.57%, rgba(247, 237, 237, 0) 96.55%);
    position: absolute;
    top: 50%;
    left: 35%;
}